.card
  width: 800px

.card-wrapped
  display: grid
  justify-content: center
  text-align: center

.card-actions
  display: grid
  grid-template-columns: repeat(2, max-content)
  grid-column-gap: 20px
  justify-content: center
  margin-top: 20px